@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@theme {
  --font-sans: "Poppins", sans-serif;
}

@layer components {
  .btn {
    @apply bg-[#67e8f9] text-[#164e63] rounded-md px-4 py-2
  uppercase tracking-widest text-sm cursor-pointer
  transition-all duration-200 hover:bg-[#22d3ee] hover:text-[#0e7490];
  }

  .btn-edit {
    @apply bg-[#d1fae5] text-[#065f46] border border-[#6ee7b7] rounded-md px-3 py-1.5
  uppercase tracking-widest text-xs cursor-pointer
  transition-all duration-200 hover:bg-[#a7f3d0] hover:text-[#064e3b];
  }

  .btn-delete {
    @apply bg-[#ffe4e6] text-[#e11d48] border border-[#fda4af] rounded-md px-3 py-1.5
  uppercase tracking-widest text-xs cursor-pointer
  transition-all duration-200 hover:bg-[#fecdd3] hover:text-[#be123c];
  }

  .btn-save {
    @apply bg-amber-200 text-[#6b1126] border border-amber-300 rounded-md

 px-3 py-1.5 uppercase tracking-widest

text-xs  cursor-pointer

transition-all duration-200

hover:bg-[#6b1126] hover:text-[#fef3c7]

hover:border-[#6b1126];
  }

  .form-input {
    @apply border-b mb-2 text-gray-600  py-2 px-3 outline-none placeholder:text-gray-400  transition-colors duration-200;
  }
}
